body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Nav */

header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 30px;
}


/* Body */
/* Div 1 */

.top-container {
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.top-container__left {
    flex: 1;
    width: 40%;
    margin: 150px;
}

.top-container__left-mainText {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.top-container__right {
    flex: 1;
    width: 48%;
}